{% extends '__base.html' %}
{% load static %}
{% block content %}

    <!-- Navbar e Título -->
    <nav class="navbar navbar-expand-md navbar-light bg-light align-content-between">
        <div class="row vw-100 justify-content-between">
            <div class="col-1">
                <div class="d-flex flex-column">
                    <a class="titles acqua-green text-decoration-none px-3 text-uppercase inter size-40 bold" href="{% url 'listar-conteiners' %}">Contêiners</a>
                    <div class="ms-3 title-divider"></div>
                </div>
            </div>
            <div class="col-10 d-flex justify-content-center">
                <ul class="navbar-nav p-4 d-flex inter">
                    <li class="px-4 semi-bold"><a class="text-decoration-none text-dark" href="{% url 'listar-clientes' %}">Clientes</a></li>
                    <li class="px-4"><a class="text-decoration-none text-dark" href="{% url 'listar-conteiners' %}">Contêiners</a></li>
                    <li class="px-4"><a class="text-decoration-none text-dark" href="{% url 'listar-movimentacoes' %}">Movimentações</a></li>
                    <li class="px-4"><a class="text-decoration-none text-dark" href="{% url 'listar-relatorios' %}">Relatórios</a></li>
                </ul>
            </div>
            <div class="col-1 d-flex justify-content-end">
                <img class="width-25rem" src="{% static 'imgs/green-user.svg' %}">
            </div>
        </div>
    </nav>

    <!-- Conteúdo da Página -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table-borderless">
                <thead>
                    <tr>
                        <th class="py-3 px-5 size-24 inter light light-gray">Nome do Cliente</th>
                        <th class="py-3 px-5 size-24 inter light light-gray">Número do Contêiner</th>
                        <th class="py-3 px-5 size-24 inter light light-gray">Tipo</th>
                        <th class="py-3 px-5 size-24 inter light light-gray">Status</th>
                        <th class="py-3 px-5 size-24 inter light light-gray">Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conteiner in conteiners %}
                    <tr>
                        <th class="px-5 size-24 inter regular">{{ conteiner.cliente_conteiner }}</th>
                        <th class="px-5 size-24 inter regular">{{ conteiner.numero_conteiner }}</th>
                        <th class="px-5 size-24 inter regular">{{ conteiner.tipo_conteiner }}</th>
                        <th class="px-5 size-24 inter regular">{{ conteiner.status_conteiner }}</th>
                        <th class="px-5 size-24 inter regular">{{ conteiner.categoria_conteiner }}</th>
                        <th class="size-24 inter semi-bold">
                            <a class="text-decoration-none text-dark" href="{% url 'detalhar-conteiners' conteiner.id %}">
                                <button class="btn btn-link p-0">
                                    <img class="" src="{% static 'imgs/detail-btn.svg' %}">
                                </button>
                            </a>
                        </th>
                        <th class="size-24 inter semi-bold">
                            <a class="text-decoration-none text-dark" href="{% url 'atualizar-conteiners' conteiner.id %}">
                                <button class="btn btn-link p-0">
                                    <img class="" src="{% static 'imgs/edit-btn.svg' %}">
                                </button>
                            </a>
                        </th>
                        <th class="p-0 size-24 inter semi-bold">
                            <a class="text-decoration-none text-dark" href="{% url 'excluir-conteiners' conteiner.id %}">
                                <button class="btn btn-link p-0">
                                    <img class="" src="{% static 'imgs/delete-btn.svg' %}">
                                </button>
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% include "__pagination.html" %}
            {% endif %}
            <div class="row mt-3 justify-content-center">
                <div class="col-3">
                    <a href="{% url 'criar-clientes' %}"><button class="btn btn-secondary inter semi-bold size-20">Criar contêiner</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}