{% extends '__base.html' %}
{% load static %}
{% block content %}
<div class="index-bg bg-image">
    <nav class="navbar mx-4 my-auto">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'imgs/white-full-logo.svg' %}"></a>
        <a href="{% url 'listar-clientes' %}" class="text-decoration-none">
            <div class="row align-content-center">
                <div class="col-6"><p class="inter size-20 light text-light m-0">Entrar</p></div>
                <div class="col-6 px-2"><img src="{% static 'imgs/white-user.svg' %}"></div>
            </div>
        </a>
    </nav>
    <main class="container-fluid">
        <div class="align-middle">
            <div class="row justify-content-between vh-100 align-items-center">
                <div class="col-6 col-sm-6 d-flex justify-content-center">
                    <div class="flex-column">
                        <p class="text-uppercase text-light inter m-0 semi-bold size-32 ls-10">Guiando o Mundo</p>
                        <p class="text-uppercase text-light inter m-0 light size-24 ls-10">Desde o início</p>
                    </div>
                </div>
                <div class="col-6 col-sm-6 d-flex justify-content-center">
                    <a href="{% url 'listar-clientes' %}">
                        <button class="btn btn-outline-light">
                            <label class="inter lighjt ls-10 size-24 text-uppercase">Envie Conosco</label>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}